body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ff3300;
}

header {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}
.titulo{
    border-bottom: 5px solid white; 
}

.menu{
    background-color: #ffffff;
    border: 1px solid  red;
    margin: 10px 10px 10px 10px;
    height: 500px;
}
.option{
    background-color: #f5f5f5;
    border: 1px solid  rgb(165, 151, 151);
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    
}
.optcont h2{
    color: #ff3300;
}
footer{
    color: white;
    font-size: small;
    text-align: center;
}

